.HighScores-Header {
    margin-bottom: 20px;
}

.HighScore-Container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    transition: all ease 0.2s;
    background: initial;
}