.Game-Container {
    margin: 50px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Round-Container {
    margin-bottom: 50pt;
}

.Players-Container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Players-Container > div:first-child {
    margin-right: 15pt;
}

.Players-Container > div:last-child {
    margin-left: 15pt;
}

.Adjust-Background {
    height: 102px;
    background: white;
}

.Player-Container {
    overflow: hidden;
    background: white;
}

.Player-Container > img {
    width: 100%;
    height: auto;
}

.Player-Container-Player > img {
    margin-left: -25px;
}

.Player-Container-Bot > img {
    margin-right: -25px;
}

.Player-Buttons {
    z-index: 500;
}

.Player-Buttons-Small {
    display: none;
}

.Hand-Animation-Player > img {
    transform-origin: 0 50%;
    animation: HandAnimationPlayer 0.5s linear infinite;
}

.Hand-Animation-Bot > img {
    transform-origin: 100% 50%;
    animation: HandAnimationBot 0.5s linear infinite;
}

.Game-History {
    display: block;
}

.Game-History-Small {
    display: none;
}

.Game-History-Round > div {
    background: silver;
    margin: 3px;
    border-radius: 5px;
}

.Game-History-Round img {
    width: 50px;
}

.Game-History-Win {
    background: #00ba1b !important;
}

.Game-History-Lose {
    background: #991b1a !important;
}

@keyframes HandAnimationPlayer {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes HandAnimationBot {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}

.Option-Button {
    border-radius: 50px !important;
    width: 85px;
    margin: 5pt !important;
    background: #ffe626 !important;
}

.Option-Button:disabled {
    background: lightgray !important;
}

.Option-Button img {
    object-fit: contain;
    width: 75px;
}

.Back-Button {
    margin-top: 25pt !important;
    width: 250px;
    background: silver !important;
}

@media only screen and (max-width: 930px) {
    .Game-Container {
        margin: 25px;
        width: 95%;
    }

    .Player-Buttons {
        display: none;
    }

    .Player-Buttons-Small {
        display: block;
    }

    .Players-Container > div:first-child {
        margin-right: 0;
    }

    .Adjust-Background {
        display: none;
    }

    .Game-History {
        display: none;
    }

    .Game-History-Small {
        display: block;
    }

    .Option-Button {
        min-width: 66px;
        width: 66px;
        height: 62px;
    }

    .Option-Button img {
        width: 50px;
    }
}