.App {
    overflow-y: auto;
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    height: 100%;
}

.App-link {
    color: #09d3ac;
}

.Flex-Horizontal-Center {
    display: flex;
    justify-content: center;
}

.Space-Evenly {
    justify-content: space-evenly;
}

